<nav class="navbar navbar-fixed-top navbar-light top" style="background-color: white;">
  <div class="container">

    <a class="logo" href="{{@blog.url}}"><img src="{{@blog.logo}}" alt="{{@blog.title}}"></a>
    <a class="navbar-brand blog-title" href="{{@blog.url}}">{{@blog.title}}</a>

    <div class="pull-xs-right">
        <a role="button" target="_blank" href="https://www.paypal.com/cgi-bin/webscr?cmd=_s-xclick&hosted_button_id=MDN4KWM2ZTZXE" class="btn btn-primary-outline">Quer nos pagar um café?</a>
    </div>
  </div>
</nav>
